<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item"><%= link_to t('admin.materials'), [:admin, :materials] %></li>
  <li class="breadcrumb-item active"><%= t('edit') %></li>
<% end %>
<% content_for :navbars do %>
  <%= link_to t('show'), [:admin, @material], class: 'btn btn-sm btn-primary mt-n2 mb-n1' %>
  <%= link_to t('back'), [:admin, :materials], class: 'btn btn-sm btn-info mt-n2 mb-n1' %>
<% end %>

<div class="card">
  <div class="card-body">
    <%= render 'form', material: @material %>
  </div>
</div>
