<%% content_for :breadcrumbs do %>
  <li class="breadcrumb-item"><%%= link_to t('<%= plural_table_name %>'), [:admin, :<%= plural_table_name %>] %></li>
  <li class="breadcrumb-item active"><%%= t('new') %></li>
<%% end %>
<%% content_for :navbars do %>
  <%%= link_to t('back'), [:admin, :<%= plural_table_name %>], class: 'btn btn-sm btn-info mt-n2 mb-n1' %>
<%% end %>

<div class="card">
  <div class="card-body">
    <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
  </div>
</div>
