<%= simple_form_for(@permission, url: [:admin, @permission.new_record? ? :permissions : @permission]) do |f| %>

  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row row-cols-2">
      <%= f.input :name, required: true, placeholder: '名称', wrapper_html: { class: 'col' } %>
      <%= f.input :namespace, placeholder: '命名空间', wrapper_html: { class: 'col' } %>
    </div>

    <div class="row row-cols-2">
      <%= f.input :controller, required: true, placeholder: '控制器', wrapper_html: { class: 'col' } %>
      <%= f.input :action, required: true, placeholder: '操作', wrapper_html: { class: 'col' } %>
    </div>

    <%= f.input :intro, placeholder: '简介' %>
    <%= f.input :desc, placeholder: '详细描述' %>

  </div>

  <div class="form-actions mt-3">
    <%= f.button :submit, t('save'), class: 'btn btn-primary' %>
    <%= link_to t('cancel'), [:admin, :permissions], class: 'btn btn-outline-secondary' %>
  </div>
<% end %>
