<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item active"><%= t('admin.permissions') %></li>
<% end %>
<% content_for :navbars do %>
  <%= link_to t('new'), [:new, :admin, :permission], class: 'btn btn-sm btn-primary mt-n2 mb-n1' %>
<% end %>

<div class="card mb-1 mb-sm-2 mb-lg-3">
  <div class="card-body">
    <%= render 'search' %>
  </div>
</div>

<div class="card mb-1 mb-sm-2 mb-lg-3">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th><%= Permission.human_attribute_name('code') %></th>
            <th><%= Permission.human_attribute_name('name') %></th>
            <th><%= Permission.human_attribute_name('status') %></th>
            <th><%= Permission.human_attribute_name('namespace') %></th>
            <th><%= Permission.human_attribute_name('controller') %></th>
            <th><%= Permission.human_attribute_name('action') %></th>
            <th colspan="3"><%= I18n.t('operation') %></th>
          </tr>
        </thead>

        <tbody>
          <% @permissions.each do |permission| %>
            <tr>
              <td><%= permission.code %></td>
              <td><%= permission.name %></td>
              <td><%= permission.status_name %></td>
              <td><%= permission.namespace %></td>
              <td><%= permission.controller %></td>
              <td><%= permission.action %></td>
              <td><%= link_to t('show'), [:admin, permission], class: 'text-nowrap' %></td>
              <td><%= link_to t('edit'), [:edit, :admin, permission], class: 'text-nowrap' %></td>
              <td><%= link_to t('destroy'), [:admin, permission], method: :delete, class: 'text-nowrap', data: { confirm: t('delete_confirm') } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= paginate @permissions %>
  </div>
</div>
