<nav class="navbar navbar-expand-md sticky-top navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to admin_root_path, class: 'navbar-brand' do %>
      <%= image_pack_tag 'brand.png', class: 'd-inline-block align-top mr-1', width: 30, height: 30, loading: 'lazy', alt: 'Brand' %>
      <%= Setting.app_name %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#applicationNavbar" aria-controls="applicationNavbar" aria-expanded="false" aria-label="切换导航">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="applicationNavbar">
      <%# 功能导航 %>
      <ul class="navbar-nav mr-auto">
        <%# <li class="nav-item"> %>
          <%#= link_to '基础数据', root_path, class: "nav-link #{'active' if controller_name == 'home'}", aria: { current: 'page' } %>
        <%# </li> %>
        <li class="nav-item dropdown">
          <%= link_to '基础数据', '#!', id: 'navbarDropdown',
                                       class: 'nav-link dropdown-toggle',
                                       role: 'button',
                                       data: { toggle: 'dropdown' },
                                       aria: { haspopup: true, expanded: false }
          %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to '组织管理', [:admin, :organizations], class: "dropdown-item" %>
            <%= link_to '角色管理', [:admin, :roles], class: "dropdown-item" %>
            <%= link_to '权限管理', [:admin, :permissions], class: "dropdown-item" %>
            <%= link_to '用户管理', [:admin, :users], class: "dropdown-item" %>
            <hr class="dropdown-divider">
            <%= link_to '类型管理', [:admin, :categories], class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>

      <%# 用户信息 %>
      <div class="d-flex my-2 my-md-0">
        <% if current_user %>
          <%= link_to '<span class="fas fa-bell"></span>'.html_safe, '#!', class: 'btn btn-link text-muted' %>
          <div class="dropdown mr-n3">
            <%= link_to current_user.username, '#', id: 'accountDropdown',
                                                    class: 'btn btn-link text-muted dropdown-toggle',
                                                    role: 'button',
                                                    data: { toggle: 'dropdown' },
                                                    aria: { expanded: false }
            %>
            <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="accountDropdown">
              <%= link_to '个人设置', edit_user_registration_path, class: 'dropdown-item' %>
              <%= link_to '修改密码', edit_user_password_path, class: 'dropdown-item' %>
              <hr class="dropdown-divider">
              <%= link_to '退出登录', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            </div>
          </div>
        <% else %>
          <%= link_to '注册', new_user_registration_path, class: 'btn btn-outline-success mr-2' %>
          <%= link_to '登录', new_user_session_path, class: 'btn btn-outline-primary' %>
        <% end %>
      </div>

    </div>
  </div>
</nav>
