<div class="message-box">
  <% if notice %>
    <div class="alert alert-notice alert-dismissible fade show" role="alert">
      <%= notice %>
      <%= link_to '#!', class: 'close', data: { dismiss: 'alert' }, aria: { label: '关闭' } do %>
        <span aria-hidden="true">&times;</span>
      <% end %>
    </div>
  <% end %>

  <% if alert %>
    <div class="alert alert-alert alert-dismissible fade show" role="alert">
      <%= alert %>
      <%= link_to '#!', class: 'close', data: { dismiss: 'alert' }, aria: { label: '关闭' } do %>
        <span aria-hidden="true">&times;</span>
      <% end %>
    </div>
  <% end %>

  <% if warning %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= warning %>
      <%= link_to '#!', class: 'close', data: { dismiss: 'alert' }, aria: { label: '关闭' } do %>
        <span aria-hidden="true">&times;</span>
      <% end %>
    </div>
  <% end %>

  <% if error %>
    <div class="alert alert-error alert-dismissible fade show" role="alert">
      <%= error %>
      <%= link_to '#!', class: 'close', data: { dismiss: 'alert' }, aria: { label: '关闭' } do %>
        <span aria-hidden="true">&times;</span>
      <% end %>
    </div>
  <% end %>
</div>
