<%= simple_form_for(@organization, url: [:admin, @organization.new_record? ? :organizations : @organization]) do |f| %>

  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row row-cols-2">
      <%= f.input :name, wrapper_html: { class: 'col' }, placeholder: '名称' %>
      <%= f.input :parent_id, collection: Organization.roots, wrapper_html: { class: 'col' }, include_blank: '选择所属组织' %>
    </div>

    <div class="row row-cols-2">
      <%= f.input :contacts, wrapper_html: { class: 'col' }, placeholder: '联系人' %>
      <%= f.input :mobile, wrapper_html: { class: 'col' }, placeholder: '联系方式' %>
    </div>
    <%= f.input :intro, placeholder: '简介' %>
    <%= f.input :desc, placeholder: '详细描述' %>
  </div>

  <div class="form-actions mt-3">
    <%= f.button :submit, t('save'), class: 'btn btn-primary' %>
    <%= link_to t('cancel'), [:admin, :organizations], class: 'btn btn-outline-secondary' %>
  </div>
<% end %>
