<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item"><%= link_to t('organizations'), [:admin, :organizations] %></li>
  <li class="breadcrumb-item active"><%= t('show') %></li>
<% end %>
<% content_for :navbars do %>
  <%= link_to t('edit'), [:edit, :admin, @organization], class: 'btn btn-sm btn-primary mt-n2 mb-n1' %>
  <%= link_to t('back'), [:admin, :organizations], class: 'btn btn-sm btn-info mt-n2 mb-n1' %>
<% end %>

<div class="card">
  <div class="card-body">
    <table class="table table-bordered mb-0 fs--1">

      <tr>
        <th class="w-25 bg-100 text-right">
          <%= Organization.human_attribute_name('code') %>
        </th>
        <td>
          <%= @organization.code %>
        </td>
      </tr>

      <tr>
        <th class="w-25 bg-100 text-right">
          <%= Organization.human_attribute_name('name') %>
        </th>
        <td>
          <%= @organization.name %>
        </td>
      </tr>

      <tr>
        <th class="w-25 bg-100 text-right">
          <%= Organization.human_attribute_name('status') %>
        </th>
        <td>
          <%= @organization.status %>
        </td>
      </tr>

      <tr>
        <th class="w-25 bg-100 text-right">
          <%= Organization.human_attribute_name('desc') %>
        </th>
        <td>
          <%= @organization.desc %>
        </td>
      </tr>

      <tr>
        <th class="w-25 bg-100 text-right">
          <%= Organization.human_attribute_name('intro') %>
        </th>
        <td>
          <%= @organization.intro %>
        </td>
      </tr>

      <tr>
        <th class="w-25 bg-100 text-right">
          <%= Organization.human_attribute_name('contacts') %>
        </th>
        <td>
          <%= @organization.contacts %>
        </td>
      </tr>

      <tr>
        <th class="w-25 bg-100 text-right">
          <%= Organization.human_attribute_name('mobile') %>
        </th>
        <td>
          <%= @organization.mobile %>
        </td>
      </tr>

      <tr>
        <th class="w-25 bg-100 text-right">
          <%= Organization.human_attribute_name('superior') %>
        </th>
        <td>
          <%= @organization.superior_id %>
        </td>
      </tr>

    </table>
  </div>
</div>
