<%= simple_form_for(@category, url: [:admin, @category.new_record? ? :categories : @category]) do |f| %>

  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%#= f.input :code %>
    <div class="row row-cols-2">
      <%= f.input :name, wrapper_html: { class: 'col' }, placeholder: '名称' %>
      <%= f.association :superior, collection: Category.roots, include_blank: '选择所属类型', wrapper_html: { class: 'col' } %>
    </div>

    <%= f.input :desc, placeholder: '详细描述' %>
    <%#= f.association :classifiable %>
  </div>

  <div class="form-actions mt-3">
    <%= f.button :submit, t('save'), class: 'btn btn-primary' %>
    <%= link_to t('cancel'), [:admin, :categories], class: 'btn btn-outline-secondary' %>
  </div>
<% end %>
