<%= simple_form_for(@course, url: [:admin, @course.new_record? ? :courses : @course]) do |f| %>

  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row row-cols-2">
      <%= f.input :name, placeholder: '名称', wrapper_html: { class: 'col' } %>
      <%= f.input :parent_id, collection: Course.roots, include_blank: '选择所属课程', wrapper_html: { class: 'col' } %>
    </div>

    <div class="row row-cols-2">
      <%= f.input :position, wrapper_html: { class: 'col' }, input_html: { min: 0 } %>
      <%= f.input :mold, as: :radio_buttons,
                         collection: Course.mold_options,
                         placeholder: '模式',
                         wrapper: :vertical_collection_inline,
                         wrapper_html: { class: 'col' }
      %>
    </div>

    <%= f.input :intro, placeholder: '简介' %>
    <%= f.input :desc, placeholder: '详细描述' %>
  </div>

  <div class="form-actions mt-3">
    <%= f.button :submit, t('save'), class: 'btn btn-primary' %>
    <%= link_to t('cancel'), [:admin, :courses], class: 'btn btn-outline-secondary' %>
  </div>
<% end %>
