<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item"><%= link_to t('admin.courses'), [:admin, :courses] %></li>
  <li class="breadcrumb-item active"><%= t('show') %></li>
<% end %>
<% content_for :navbars do %>
  <%= link_to t('edit'), [:edit, :admin, @course], class: 'btn btn-sm btn-primary mt-n2 mb-n1' %>
  <%= link_to t('back'), [:admin, :courses], class: 'btn btn-sm btn-info mt-n2 mb-n1' %>
<% end %>

<div class="card">
  <div class="card-body">
    <table class="table table-bordered mb-0 fs--1">

      <tr>
        <th class="w-25 bg-100 text-right">
          <%= Course.human_attribute_name('code') %>
        </th>
        <td>
          <%= @course.code %>
        </td>
      </tr>

      <tr>
        <th class="w-25 bg-100 text-right">
          <%= Course.human_attribute_name('name') %>
        </th>
        <td>
          <%= @course.name %>
        </td>
      </tr>

      <tr>
        <th class="w-25 bg-100 text-right">
          <%= Course.human_attribute_name('status') %>
        </th>
        <td>
          <%= @course.status_name %>
        </td>
      </tr>

      <tr>
        <th class="w-25 bg-100 text-right">
          <%= Course.human_attribute_name('mold') %>
        </th>
        <td>
          <%= @course.mold_name %>
        </td>
      </tr>

      <tr>
        <th class="w-25 bg-100 text-right">
          <%= Course.human_attribute_name('seq') %>
        </th>
        <td>
          <%= @course.seq %>
        </td>
      </tr>

      <tr>
        <th class="w-25 bg-100 text-right">
          <%= Course.human_attribute_name('juniors_count') %>
        </th>
        <td>
          <%= @course.juniors_count %>
        </td>
      </tr>

      <tr>
        <th class="w-25 bg-100 text-right">
          <%= Course.human_attribute_name('intro') %>
        </th>
        <td>
          <%= @course.intro %>
        </td>
      </tr>

      <tr>
        <th class="w-25 bg-100 text-right">
          <%= Course.human_attribute_name('desc') %>
        </th>
        <td>
          <%= @course.desc %>
        </td>
      </tr>

      <tr>
        <th class="w-25 bg-100 text-right">
          <%= Course.human_attribute_name('superior') %>
        </th>
        <td>
          <%= @course.superior_name %>
        </td>
      </tr>

      <tr>
        <th class="w-25 bg-100 text-right">
          <%= Course.human_attribute_name('prev') %>
        </th>
        <td>
          <%= @course.prev_name %>
        </td>
      </tr>

      <tr>
        <th class="w-25 bg-100 text-right">
          <%= Course.human_attribute_name('creator') %>
        </th>
        <td>
          <%= @course.creator_name %>
        </td>
      </tr>

    </table>
  </div>
</div>
