<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= Setting.app_name %></title>

    <%= render 'layouts/common/meta' %>

    <%= stylesheet_pack_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/admin/navbar' %>

    <%#= render 'layouts/message' %>

    <div class="container-fluid overflow-auto">
      <%= yield %>
    </div>
  </body>
</html>
