<!DOCTYPE html>
<html dir="ltr" lang="<%= I18n.locale %>">
  <head>
    <title>ScratchAdmin</title>

    <%= render 'layouts/common/meta' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'react' %>
  </head>

  <body>
    <%= render 'layouts/application/navbar' %>

    <%= render 'layouts/message' %>

    <%= yield %>
  </body>
</html>
