<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= Setting.app_name %></title>

    <%= render 'layouts/common/meta' %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/application/navbar' %>

    <div class="container-fluid min-vh-100 mpt-navbar position-relative">
      <%= render 'layouts/common/message' %>

      <div class="row no-gutters min-vh-100 mpt-navbar align-items-center justify-content-center">
        <div class="col col-md-6 col-lg-5 col-xl-4 p-1">
          <div class="card">
            <% if content_for?(:devise_title) %>
              <div class="card-header text-center">
                <%= yield :devise_title %>
              </div>
            <% end %>

            <div class="card-body">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
